@charset "utf-8";




*,*::before,*::after{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
a{
	text-decoration: none;
	color: #000;
}
div{
	line-height: 0;
}
img {
	width: 100%;
}

.page{
	position: relative;
	overflow: hidden;
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}

.header-content{
	position: relative;
	width: 100%;
}

.header-top{
	position: relative;
	width: 100%;
	background-color: #DE6600;
	height: 45px;
	line-height: 45px;
	color: #fff;
}

header a{
	color: #fff;
}

.res-header{
	display: none;
}

.header-top-content{
	display: flex;
	justify-content: flex-end;
	margin:0 0 0 auto;
}

.nav-targetlist{
	position: relative;
	display: flex;
	justify-content: space-around;
	font-size: 1.3rem;
	height:45px;
	width: 60%;
	max-width: 700px;
	text-align: center;
}

.nav-targetlist::before{
	position: absolute;
	content: "";
	height: 30px;
	width: 1px;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #f1f1f1;
}

.nav-targetlist li{
	width: 100%;
}

.nav-targetlist a{
	position: relative;
	color: #fff;
}

.nav-targetlist a::before{
	position: absolute;
	content: "";
	width: 0;
	height: 1px;
	left: 0;
	bottom: -5px;
	background-color: #fff;
	transition: all .3s ease;
}

.nav-targetlist a:hover::before{
	width: 100%;
}

.language-menu{
	position: relative;
	font-size: 1.3rem;
	height: 45px;
	line-height: 45px;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 130px;
	cursor: pointer;
	transition: all .3s ease;
}

.language-menu::after{
	position: absolute;
	content: "\f078";
	color: #fff;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	right: 13%;
	top: 50%;
	transform: translateY(-51%);
	font-size: 1rem;
}

@keyframes languageOpen{
	0%{
		height: 0;
	}
	100%{

		height: 100%;
	}
}

.language-open{
	display: none;
	position: relative;
	z-index: 999;
	animation: languageOpen .3s ease;
}

.language-menu a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #C95B01;
	width: 130px;
	border-top: 1px solid #ddd;
	
}

.language-menu.active{
	background-color: #C95B01;
}

.language-menu.active .language-open{
	display: block;
}

.document,
.header-contact{
	position: relative;
	display: block;
	width: 110px;
	text-align: center;
	background-color: #EFF82D;
	color: #333;
	font-weight: bold;
	font-size: 1.2rem;
	transition: all .3s ease;
}

.document:hover,
.header-contact:hover{
	color: #e66700;;
}

.header-contact::before{
	position: absolute;
	content: "";
	background-color: #333;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;	
	height: 30px;
}

.header-bottom{
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	background-color: rgba(230,103,0,0.9);
	height: 90px;
	color: #fff;
	display: flex;
	z-index: 100;
}

.header-bottom-content{
	display: flex;
	width: 1170px;
	margin: 0 auto;
	min-width:880px;
}

.logo{
	position: relative;
	display: flex;
	line-height: 90px;
	font-weight: 100;
	margin-left: 40px;
}

.logo-mark{
	font-size: 4.8rem;
	font-family: "Times New Roman", Times, "serif";
	font-weight: 100;
}

.logo-mark2{
	font-size: 2.6rem;
	margin-left: -6px;
}

.logo-text{
	font-size: 3.6rem;
	font-family:  YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	margin-left: 15px;
	font-weight: 100;
}

.nav-list-wrap{
	width: 67%;
	margin: 0 40px 0 auto;
	max-width: 830px;
}

.nav-list{
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 1.4rem;
	line-height: 1;
}

.nav-list li{
	width: 100%;
	position: relative;
	text-align: center;
}

.nav-list a{
	padding-top: 25px;
	display: block;
	width: 100%;
	height:90px ;
	transition: all .3s ease;
}

.nav-list i{
	display: block;
	text-align: center;
	font-size: 2rem;
}

.navlist-text{
	display: block;
	margin-top: 13px;
	letter-spacing: 0.5px;
}

.nav-list a:hover{
	background-color: #e66700;
}

.res-content{
	display: none;
}

.hover-nav a{
	color:#333;
}

.hover-nav{
	position: fixed;
	top: 134px;
	width: 100%;
	height: 250px;
	background-color: #f2f2f2;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	z-index: 99;
}

.hover-nav.active{
	opacity: 1;
	visibility: visible;
}

.hover-container{
	width: 90%;
	margin: 25px auto 0;
	padding-bottom: 30px;
}

.hover-mainbox{
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
}

.hover-mainbox li{
	position: relative;
	font-size: 1.3rem;
	width: 25%;
	margin-top: 5px;
}

.hover-mainbox li::before{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	transform:translateY(-50%);
	width: 1px;
	height: 75%;
	background-color: #e66700;
}

.hover-mainbox a{
	position: relative;
	display: block;
	padding: 1.8em 1em;
	width: 100%;
	height: 100%;
	transition: all .3s ease;
}

.hover-mainbox a::before{
	position: absolute;
	right: 8%;
	content: "\f054";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #e66700;
}

.hover-mainbox a:hover{
	background-color: rgba(230,103,0,.4);
}





																			/*メインビュー*/



.main{
	position: relative;
}

.main img{
	width: 100%;
	min-height: 60vh;
	object-fit: cover;
}

.main-photo{
	position: relative;
	overflow: hidden;
}

.main-photo::before{
	position: absolute;
	content: "";
	background-color: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .1;
}

@keyframes fadezoom {
	0%{
		transform:scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

.main-photo .slick-slide.slick-current{
	animation: fadezoom 8s ease;
}

.main-font{
	position: absolute;
	bottom: 10%;
	left: 3%;
	right: 0;
	z-index: 3;
	line-height: .9;
}

.main-font1{
	font-size:10.5vw;
	font-family: "Georgia";
	color: #e66700;
	left: .2vw;
}

.world{
	font-size: 11vw;
	letter-spacing: .7vw;
}

.main-font2{
	font-family:"游明朝体+36ポかな エクストラボールド";
	font-size: 1.7vw;
	letter-spacing: 5px;
	font-weight: bold;
	margin-top: 20px;
	color: #fff;
}


.fixed-contactmenu{
	position: fixed;
	right: -75px;
	bottom: 3%;
	width: 75px;
	z-index: 99;
	transition:all .5s ease;
}

.fixed-document,
.fixed-contact{
	position: relative;
	width: 100%;
	height: 170px;
	writing-mode:vertical-rl;
	line-height: 75px;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 30px;
	letter-spacing: 1.5px;
	color: #f1f1f1;
	transition: all .3s ease;
}

.fixed-contact:hover,
.fixed-document:hover{
	opacity: .7;
}

.fixed-contact::before,
.fixed-document::before{
	position: absolute;
	top: 25px;
	font-size: 2.4rem;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.fixed-contact::before{
	content: "\f0e0";
}

.fixed-document::before{
	content: "\f573";
	left: 2px;	
}

.fixed-document{
	background-color:#EFF82D;
	color: #e66700;
}

.fixed-contact{
	border-top: 1px solid #f1f1f1;
	background-color: #e66700;
	letter-spacing: 0px;
}

.scroll-up{
	width: 75px;
	height: 75px;
	background-color: #e66700;
	text-align: center;
	cursor: pointer;
	border-top: 1px solid #f1f1f1;
	transition: all .5s ease;
}

.scroll-up i{
	color: #fff;
	padding-top: 36%;
	font-size: 1.4rem;
}



.form-content{
	width: 70%;
	margin: 180px auto 30px;
	background-color: #FFEECE;
	padding: 5em;
	min-width: 960px;
}

.form-title{
	color: #E66700;
	font-weight: bold;
	font-size: 3.4rem;
	position: relative;
	margin-left: 20px;
	
}

.form-title::before{
	position: absolute;
	content: "";
	background-color: #e66700;
	width: 8px;
	height:45px;
	left: -20px;
	transform: translateY(-50%);
}

.advance-mainbox{
	display: flex;
	justify-content: space-between;
	margin: 60px auto;
	overflow: hidden;
	width: 100%;
}

.advance-box{
	position: relative;
	width: 33%;
	background-color: #e66700;
	padding: 2em;
	color: #fff;
	font-size: 1.5rem;
}


.advance2,
.advance3{
	background-color: #ddd;
	color: #000;
	padding-left: 60px;
}

.advance1::before,
.advance2::before{
	position: absolute;
	content: "";
	top:50%;
	transform: translateY(-50%);
	right:-2em;
	border-style: solid;
 	border-color: transparent transparent transparent #e66700;
	border-width: 60px 0 60px 3em;
	z-index: 4;
}

.advance2::before{
	border-color: transparent transparent transparent #ddd;
}

.advance2::after,
.advance3::after{
	position: absolute;
	content: "";
	top:50%;
	transform: translateY(-50%);
	left:-1em;
	border-style: solid;
 	border-color: transparent transparent transparent #fff;
	border-width: 60px 0 60px 3em;
	z-index:3;

	
}

.advance-text{
	margin-top: 20px;
	font-size: 1.8rem;
	font-weight: bold;
}

.form-content h2{
	position: relative;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 35px;
	margin-left: 15px;
}

.form-content h2:before{
	position: absolute;
	content: "";
	background-color: #e66700;
	height: 25px;
	width: 5px;
	left: -15px;
	transform: translateY(-50%);
}

.form-content h3{
	font-size: 1.5rem;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
}

.form-name,
.form-birthday,
.form-address,
.form-mailaddress,
.form-subjuct{
	margin-top:60px;
}



.form-nametext{
	width: 35%;
	height: 40px;
	font-size: 1.4rem;
	margin-top: -5px;
}

.form-year{
	height: 30px;
	width: 70px;
	font-size: 1.2rem;
}

.form-month,
.form-day{
	height: 30px;
	width: 50px;
	font-size: 1.2rem;
}

.address-auto{
	font-size: 0.9rem;
	margin-left: 10px;
}

.form-addressnumber{
	width: 50px;
	height: 30px;
}

.form-addresstext{
	width: 100%;
	height: 40px;
	font-size: 1.4rem;
}

.address-text{
	margin-top: 15px;
	font-size: 1.4rem;
}

.form-mailaddress-text{
	width: 100%;
	height: 40px;
	font-size: 1.4rem;

}

.form-subject-container{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.category-text{
	width:50%;
	font-size: 1.4rem;
	margin-top: 10px;
}


.form-submit{
	width: 100%;
	margin: 60px auto 0;
	text-align: center;
}

.form-submitbutton{
	cursor: pointer;
	width: 45%;
	height: 70px;
	background-color: #e66700;
	border-radius: 15px;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 5px;
	border: none;
	box-shadow: 0px 4px 5px #ccc;
	transition: all .4s ease;
}

.form-submitbutton:hover{
	background-color: #fff;
	color: #e66700;
	border: 2px solid #e66700;
}

.footer{
	display: block;
	background-color: #e66700;
	width: 100%;
	padding-top: 40px;
}

.footer-contact{
	width: 80%;
	margin: 20px auto 0;
	display: flex;
	justify-content: space-between;
	background-color: #e66700;
}

.footer-contact a{
	position: relative;
	display: block;
	background-color: #fff;
	color: #e66700;
	height: 80px;
	border-radius: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 2rem;
	font-weight: bold;
	width: 47%;
	transition: all .3s ease;
}

.footer-contact a::before{
	position: absolute;
	content: "\f054";
	right: 10%;
	font-size: 2rem;
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
}

.footer-contact a:hover{
	border: 1px solid #fff;
	background-color: #e66700;
	color: #fff;
}

.footer-contact a:hover::before{
	color: #fff;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 40px auto 0;;
}

.footer-box{
	color: #fff;
}

.footer-box li{
	line-height: 1;
	font-size: 1.5rem;
	margin-top: 18px;
}

.footer-box a{
	color: #fff;
}

.footer-box li:first-child{
	font-weight: bold;
	margin-bottom: 25px;
	font-size: 2rem;
}

.copy-right{
	font-size: 1.4rem;
	margin-top: 80px;
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
}


@media (max-width:896px){
	
	.sp-hidden{
		display: none;
	}
	
	.res-content{
		display: block;
	}

	.res-header{
		display: block;
		position: fixed;
		height: 65px;
		width: 100%;
		background-color: #e66700;
		z-index: 999;
	}

	.res-logo{
		position: absolute;
		display: flex;
		left: 30px;
		width: 300px;
		height: 65px;
		top: 53%;;
	}
	
	.res-logo a{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.res-logo-mark{
		position: absolute;
		font-size: 3.6rem;
		font-family: "Times New Roman", Times, "serif";
		display: block;
		height: 65px;
	}

	.res-logo-mark2{
		font-size: 1.8rem;
		margin-left: -6px;
	}

	.res-logo-text{
		font-size: 2.3rem;
		font-family:  YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
		margin-left: 40px;
		font-weight: 100;
	}

	.res-target{
		position: fixed;
		right: 65px;
		top: 0;
		width: 65px;
		height: 65px;
		text-align: center;
		line-height: 95px;
		font-size: 1rem;
		cursor: pointer;
		color: #fff;
	}
	
	.res-target::before{
		position: absolute;
		content: "\f500";
		font-size: 1.8rem;
		top: -18px;
		left: 0;
		right: 0;
		text-align: center;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
	}
	
	.res-menu{
		position: fixed;
		right: 0;
		top: 0;
		width: 65px;
		height: 65px;
		cursor: pointer;
	}
	
	.res-menu div{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin: auto;
		height: 1px;
		width: 40%;
		background-color: #fff;
		transition: all .3s ease;
	}
	
	.res-menu div:nth-of-type(1){
		transform: translateY(-7px);
	}
	
	.res-menu div:nth-of-type(3){
		transform: translateY(7px);
	}
	
	.res-menu.active div:nth-of-type(1){
		transform: rotate(-45deg);
	}
	
	.res-menu.active div:nth-of-type(2){
		opacity: 0;
	}
	
	.res-menu.active div:nth-of-type(3){
		transform: rotate(45deg);
	}
	
	.res-list{
		position: fixed;
		top: 65px;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: calc(100vh - 65px);
		background-color: #e66700;
		color: #fff;
		transition: all .5s ease;
		z-index: 998;
	}
	
	.res-menu-list,
	.res-target-list{
		transition: all .5s ease;
	}
	
	.res-menu-list.active,
	.res-target-list.active{
		visibility: visible;
		opacity: 1;
	}
	
	
	.res-list-nav{
		width: 90%;
		margin: 10px auto 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.res-list-box{
		position: relative;
		width: calc(50% - 20px);
		height: 65px;
		line-height: 65px;
		border-bottom: 1px solid #fff;
		padding-left: 10px;
		font-size: 1.4rem;
		margin-top: 10px;
	}
	
	.res-list-box::after{
		position: absolute;
		content: "\f054";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		right: 10px;
	}
	
	.res-list-box a{
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	.res-box-text{
		margin-left: 20px;
	}
	
	.res-menu-list-bottom{
		width: 90%;
		margin: 40px auto 0;
		display: flex;
		justify-content: space-between;
		text-align: center;
		font-size: 1.4rem;
	}
	
	.res-menu-bottom-box{
		position: relative;
		display: block;
		font-size: 1.4rem;
		width: 31%;
	}
	
	.res-menu-bottom-box a{
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;
	}
	
	.res-menu-bottom-box::after{
		position: absolute;
		content: "";
		background-color: #fff;
		height: 1px;
		width: 90%;
		bottom: -65px;
		left: 0;
		right: 0;
		margin: auto;
	}
	
	.res-menu-bottom-box i{
		display: block;
		margin-bottom: 16px;
		font-size: 3rem;
	}

	
	
	
	.form-content{
		width: 95%;
		margin: 60px auto;
		min-width: 480px;
	}

	.form-title{
		font-size: 2.4rem;
		margin-left: 10px;

	}

	.form-title::before{
		width: 3px;
		left: -10px;
		height: 40px;
	}

	.advance-mainbox{
		margin: 50px auto;

	}

	.advance-box{
		width: 33%;
		padding: 2em 1em;
		font-size: 1.2rem;
	}


	.advance2,
	.advance3{
		padding-left: 40px;
	}



	.advance-text{
		margin-top: 20px;
		font-size: 1.5rem;
	}

	.form-content h2{
		font-size: 1.8rem;
		margin-bottom: 25px;
		margin-left: 10px;
	}

	.form-content h2:before{
		width: 3px;
		left: -10px;

	}

	.form-content h3{
		font-size: 1.4rem;
	}

	.form-name,
	.form-birthday,
	.form-address,
	.form-mailaddress,
	.form-subjuct{
		margin-top: 45px;
	}

	.form-nametext{
		width: 49%;
		height: 35px;
	}

	.form-year,
	.form-month,
	.form-day{
		height: 30px;
	}

	.form-address-subtitle{
		padding-top: 8px;
	}
	
	.address-auto{
		font-size: 1rem;
		margin-left: 10px;
	}

	.form-addressnumber{
		height: 25px;
	}

	.form-addresstext{
		height: 35px
	}

	.address-text{
		margin-top: 15px;
	}

	.form-mailaddress-text{
		height: 35px;
	}


	.form-submit{
		width: 100%;
		margin: 60px auto 0;
		text-align: center;
	}

	.form-submitbutton{
		width: 60%;
		height: 70px;
		font-size: 1.4rem;
		letter-spacing: 3px;
	}
	.footer{
		margin-top: 20px;
		padding-top: 20px;
	}

	.footer-contact{
		margin: 20px auto 0;
		display: block;
	}

	.footer-contact a{
		width: 100%;
		height: 60px;
		border-radius: 60px;
		line-height: 60px;
		font-size: 1.6rem;
		margin-top: 20px;
	}

	.footer-contact a::before{
		right: 5%;
		font-size: 1.6rem;
	}

	.footer-content{
		margin: 30px auto 0;;
		flex-wrap: wrap;
	}

	.footer-box{
		width: 48%;
	}

	.footer-box li{
		font-size: 1.4rem;
		margin-top: 0;
	}

	.footer-box li:first-child{
		font-weight: 100;
		margin-bottom: 20px;
		font-size: 1.5rem;
		text-align: center;
		padding: 1em;
	}

	.footer-box li:not(:first-child){
		display: none;
	}

	.copy-right{
		font-size: 1.4rem;
		margin-top: 40px;
		padding-bottom: 80px;
	}

}





@media (max-width:480px){
	
	.res-header{
		height: 55px;
	}
	
	.res-logo{
		left: 20px;
		width: 150px;
		height: 55px;	
	}
	

	.res-logo-mark{
		font-size: 2.8rem;
		height: 55px;
	}

	.res-logo-mark2{
		font-size: 1.6rem;
		margin-left: -4px;
	}

	.res-logo-text{
		font-size: 1.8rem;
		font-weight: bold;
		margin-left: 30px;
	}

	.res-target{
		right: 55px;
		width: 55px;
		height: 55px;
		line-height: 81px;
		font-size: .7rem;
	}
		
	.res-target::before{
		font-size: 1.4rem;
		top: -16px;
	}
	
	.res-menu{
		width: 55px;
		height: 55px;
	}
	
	
	.res-menu div:nth-of-type(1){
		transform: translateY(-6px);
	}
	
	.res-menu div:nth-of-type(3){
		transform: translateY(6px);
	}
	
	.res-list{
		height: calc(100vh - 55px);
	}
	
	.res-menu-list.active,
	.res-target-list.active{
		top:55px;
	}
		
	.res-list-nav{
		margin: 10px auto 0;
	}
	
	.res-list-box{
		width: calc(50% - 20px);
		height: 55px;
		line-height: 55px;
		padding-left: 5px;
		font-size: 1.2rem;
		margin-top: 5px;
	}
	
	.res-list-box::after{
		right: 5px;
	}
	
	.res-box-text{
		margin-left: 15px;
	}
	
	.res-menu-list-bottom{
		margin: 40px auto 0;
		font-size: 1.2rem;
	}
	
	.res-menu-bottom-box{
		font-size: 1.1rem;
	}
	
	.res-menu-bottom-box::after{
		width: 90%;
		bottom: -50px;
		
	}
	
	.res-menu-bottom-box i{
		margin-bottom: 13px;
		font-size: 2.2rem;
	}
	
	.form-content{
		margin: 50px auto;
		min-width: auto;
	}

	.form-title{
		font-size: 1.8rem;
	}

	.form-title::before{
		height: 25px;
	}

	.advance-mainbox{
		margin: 30px auto 0;
	}

	.advance-box{
		font-size: 1rem;
		padding: 1.8em 0em;
	}
	
	.advance1{
		padding-left: 10px;
	}
	.advance2,
	.advance3{
		padding-left: 25px;
	}

	.advance-text{
		margin-top: 15px;
		font-size: .9rem;
	}

	.form-content h2{
		font-size: 1.6rem;
		margin-bottom: 25px;
	}

	.form-content h2:before{
		height: 20px;
	}

	.form-content h3{
		font-size: 1.4rem;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.form-name,
	.form-birthday,
	.form-address,
	.form-mailaddress,
	.form-subjuct{
		margin-top: 33px;
	}

	.form-nametext{
		height: 30px;
	}

	.form-year,
	.form-month,
	.form-day,
	.form-addressnumber{
		height: 25px;
	}
	
	.address-auto{
		font-size: .8rem;
		margin-left: 5px;
	}

	.form-addresstext,
	.form-mailaddress-text{
		height: 30px
	}

	.category-text{
		font-size: 1.2rem;
	}

	.form-submit{
		width: 100%;
		margin: 40px auto 0;
	}

	.form-submitbutton{
		width: 100%;
		height: 50px;
		border-radius: 10px;
		font-size: 1.2rem;
	}
	
	.footer{
		margin-top: 10px;
		padding-top: 20px;
	}

	.footer-contact{
		margin: 20px auto 0;
		display: block;
	}

	.footer-contact a{
		width: 100%;
		height: 55px;
		border-radius: 55px;
		line-height: 55px;
		font-size: 1.4rem;
		margin-top: 20px;
	}

	.footer-contact a::before{
		right: 8%;
		font-size: 1.4rem;
	}

	.footer-content{
		margin: 30px auto 0;
	}
	
	
	
	.footer-box li{
		font-size: 1.3rem;
	}

	.footer-box li:first-child{
		font-weight: 100;
	}

	.footer-box li:not(:first-child){
		display: none;
	}	
	
	.copy-right{
		font-size: 1rem;
		padding-bottom: 10px;
	}

}
